.container__standard{
   display: flex;
   justify-content: center;
   align-items: end;
   gap:20px;
   font-size: larger;
   padding: 7px;
   border-top-right-radius: 40px;
   border-top-left-radius: 40px;
   transition: color .5s;
   cursor: pointer;
   background-color: #FFF;
   transition: transform .3s, background-color .5s;
   color:#D81C1C
}
.container__standard:hover{
   background-color:#ccc;
}
.container__standard:active{
   transform: scale(0.9);
}

.container_optional{
   display: flex;
   justify-content: center;
   align-items: end;
   gap:20px;
   font-size: larger;
   padding: 7px;
   border-radius: 15px;
   transition: color .5s;
   cursor: pointer;
   background-color: #FFF;
   transition: transform .3s;
   color:#D81C1C
}
.container_optional:hover{
   background-color:#ccc;
}
.container_optional:active{
   transform: scale(0.9);
}


