.container{
   background-color: #FFF;
   display: flex;
   align-items: center;
   justify-content: start;
   padding: 5px 8px 5px 2px;
   color:#CCC;
   box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
}
.container.focus{
   color: #5E00A0;
}

.container input{
   outline: none;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding-left: 10px;
}

.container input:focus{
   border-color:#5E00A0 ;
}
.name{
   position: absolute;
   top: 50%;
   left: 10px;
   transform: translateY(-50%);
   background-color: #FFF;
   animation: ChangeSizeOut .3s forwards;

   
}

.name__small{
   animation: ChangeSizeIn .3s forwards;
}
@keyframes ChangeSizeIn{
   from{
      top: 50%;
      left: 10px;
      right: 100%;
   }
   to{
      top: 0;
      left: unset;
      right: 10px;
      font-size: small;
   }
}

@keyframes ChangeSizeOut{
   from{
      top: 0;
      left: unset;
      right: 10px;
      font-size: small;
   }
   to{
      top: 50%;
      left: 10px;
      right: 100%;
   }
   
}




